<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
    <title>Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="../static/style/main.css">
</head>
<body>
<div id="banner">
    <p>small banner will be here</p>
</div>
<div id="topbar">
    <ul id="topbarlist">
        <li><a href="/logout">Logout</a></li>
        <li><a href="/settings">Settings</a></li>
    </ul>
</div>
<div id="menucolumn">
    <h4>Subscriptions</h4>
    <div class="dir">
        <p>News</p>
        <ul class="feeds">
            <li>BBC</li>
            <li>NRK</li>
            <li>Al Jazeera</li>
            <li>Reddit: WorldNews</li>
        </ul>
    </div>

    <div class="dir">
        <p>IT</p>
        <ul class="feeds">
            <li>The Register</li>
            <li>Slashdot</li>
            <li>Phoronix</li>
        </ul>
    </div>
</div>
<div id="contentcolumn">
    <div class="unread entry active">
        <h3>Active entry</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam adipiscing, ipsum sit amet pretium ornare,
            lectus lacus fringilla est, sit amet tristique dolor augue et leo. Ut scelerisque ipsum eu purus vestibulum
            nec fringilla quam dictum. Duis ultricies consequat felis at ultrices. Etiam massa mi, pulvinar vitae
            pretium eget, sollicitudin vitae orci. Quisque quis mi turpis. Etiam euismod massa at diam laoreet cursus.
            Nulla facilisi. Sed molestie, massa vitae vehicula vulputate, leo orci tincidunt ante, sed euismod arcu sem
            sed purus. Proin ut nibh nec arcu ullamcorper euismod nec id magna. Integer sagittis sem eu odio dapibus
            suscipit. Fusce ultrices consequat sapien, ac bibendum ligula auctor a. Nunc faucibus tempus consectetur.
            Morbi facilisis suscipit scelerisque.
        </p>
    </div>

    <div class="unread entry">
        <h3>A unread entry</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam adipiscing, ipsum sit amet pretium ornare,
            lectus lacus fringilla est, sit amet tristique dolor augue et leo. Ut scelerisque ipsum eu purus vestibulum
            nec fringilla quam dictum. Duis ultricies consequat felis at ultrices. Etiam massa mi, pulvinar vitae
            pretium eget, sollicitudin vitae orci. Quisque quis mi turpis. Etiam euismod massa at diam laoreet cursus.
            Nulla facilisi. Sed molestie, massa vitae vehicula vulputate, leo orci tincidunt ante, sed euismod arcu sem
            sed purus. Proin ut nibh nec arcu ullamcorper euismod nec id magna. Integer sagittis sem eu odio dapibus
            suscipit. Fusce ultrices consequat sapien, ac bibendum ligula auctor a. Nunc faucibus tempus consectetur.
            Morbi facilisis suscipit scelerisque.
        </p>
    </div>

    <div class="read entry">
        <h3>Previously read entry</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam adipiscing, ipsum sit amet pretium ornare,
            lectus lacus fringilla est, sit amet tristique dolor augue et leo. Ut scelerisque ipsum eu purus vestibulum
            nec fringilla quam dictum. Duis ultricies consequat felis at ultrices. Etiam massa mi, pulvinar vitae
            pretium eget, sollicitudin vitae orci. Quisque quis mi turpis. Etiam euismod massa at diam laoreet cursus.
            Nulla facilisi. Sed molestie, massa vitae vehicula vulputate, leo orci tincidunt ante, sed euismod arcu sem
            sed purus. Proin ut nibh nec arcu ullamcorper euismod nec id magna. Integer sagittis sem eu odio dapibus
            suscipit. Fusce ultrices consequat sapien, ac bibendum ligula auctor a. Nunc faucibus tempus consectetur.
            Morbi facilisis suscipit scelerisque.
        </p>
    </div>
</div>
</body>
</html>