<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
    <title>Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="../static/style/main.css">
    <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js">
    </script>
    <script src="../static/scripts/navigation.js"></script>
</head>
<body>
<div id="banner">
    <p>small banner will be here</p>
</div>
<div id="topbar">
    <ul id="topbarlist">
        <li><a href="/logout">Logout</a></li>
        <li><a href="/settings">Settings</a></li>
    </ul>
</div>
<div id="menucolumn">
    <button id="create-user">Create new user</button>
    <h4>Subscriptions</h4>
    {% from "_dircreater.html" import render_dir %}
    {% for dir in dirs %}
        {{ render_dir(dir) }}
    {% endfor %}

    <ul class="feedlist">
        {% from "_feedcreater.html" import render_feed %}
        {% for feed in feeds %}
            {{ render_feed(feed) }}
        {% endfor %}
    </ul>
</div>
<div id="contentcolumn">

    {% from "_entrycreater.html" import render_entry %}
    {% for entry in entries %}
        {{ render_entry(entry, loop.index0) }}
    {% endfor %}


</div>

<div id="dialog-form" title="Create new user">
    <p class="validateTips">All form fields are required.</p>

    <form>
        <fieldset>
            <label for="name">RSS</label>
            <input type="text" name="name" id="name" class="text ui-widget-content ui-corner-all" />
        </fieldset>
    </form>
</div>
</body>
</html>