<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
    <title>Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="../static/style/style.css">
    <link rel="stylesheet" href="../static/style/login.css">
</head>
<body>

<div id="banner">

</div>
<div id="welcome">
    <p>Happy welcome message <a href="/createaccount">Create Account</a></p>
</div>
<div id="logincontainer">
    <div class="centercontainer"><h1>Login</h1></div>

        <form id="login" action="/login" method="post">
            {% if form.errors %}
                <ul class="error_list">
                    {% for error in form.error_messages %}
                        <li>{{ error }}</li>
                    {% endfor %}

                    {% for error in form.username.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}

                    {% for error in form.password.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            <fieldset id="inputs">
                <input name="username" id="username" type="text" placeholder="Username" autofocus required />
                <input name="password" id="password" type="password" placeholder="Password" required />
            </fieldset>


            <input type="submit" name="submit" value="Login" class="button" />
            <a href="">Forgot your password?</a><a href="/register">Register</a>
        </form>
</div>

</body>
</html>

