<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
    <title>Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="../static/style/style.css">
</head>
<body>

<div id="banner">
<p>Small banner here...</p>
</div>
<div id="welcome">
<p>Happy Welcome message. <a href="/createaccount">Create Account</a></p>
</div>
<div id="logincontainer">
    <div class="centercontainer"><h1>Login</h1></div>
    <div id="container">

        {% from "_formhelpers.html" import render_field %}
        <form class="login" action="/login" method="post">
            {{ render_field(form.username) }}
            {{ render_field(form.password) }}
            {{ render_field(form.remember_me) }}

            <p><input type="submit" name="submit" value="Login" class="registerb"/></p>
            <a href="/forgotpassword">Forgot your password?</a>
        </form>
    </div>
</div>

</body>
</html>

